---
layout: default
---

{% include header.html %}

<div class="portfolio">
  <h1>Check out my bots:</h1>
    <ul>
      {% for bot in site.data.bots %}
      <li>
          <a href="{{ bot.url }}">{{ bot.name }}</a>
      </li>
      {% endfor %}
  </ul>
</div>

<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
